'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Markdown Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'markdown-preview:toggle'
    ]
  ]
]

'context-menu':
  '.markdown-preview': [
    {label: 'Copy As HTML', command: 'core:copy'}
    {label: 'Save As HTML\u2026', command: 'core:save-as'}
  ]
  '.tree-view .file .name[data-name$=\\.markdown]':
    [{label: 'Markdown Preview', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.md]':
    [{label: 'Markdown Preview', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mdown]':
    [{label: 'Markdown Preview', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkd]':
    [{label: 'Markdown Preview', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkdown]':
    [{label: 'Markdown Preview', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.ron]':
    [{label: 'Markdown Preview', command:  'markdown-preview:preview-file'}]
  '.tree-view .file .name[data-name$=\\.txt]':
    [{label: 'Markdown Preview', command:  'markdown-preview:preview-file'}]
