'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Markdown'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'markdown-preview:toggle'
    ]
  ]
]

'context-menu':
  '.markdown-preview':
    'Save As HTML\u2026': 'core:save-as'
