'atom-workspace, atom-workspace atom-text-editor':
  'ctrl-M': 'markdown-preview-pandoc:toggle'

'.platform-darwin .markdown-preview-pandoc':
  'cmd-+': 'markdown-preview-pandoc:zoom-in'
  'cmd-=': 'markdown-preview-pandoc:zoom-in'
  'cmd--': 'markdown-preview-pandoc:zoom-out'
  'cmd-_': 'markdown-preview-pandoc:zoom-out'
  'cmd-0': 'markdown-preview-pandoc:reset-zoom'

'.platform-win32 .markdown-preview-pandoc, .platform-linux .markdown-preview-pandoc':
  'ctrl-+': 'markdown-preview-pandoc:zoom-in'
  'ctrl-=': 'markdown-preview-pandoc:zoom-in'
  'ctrl--': 'markdown-preview-pandoc:zoom-out'
  'ctrl-_': 'markdown-preview-pandoc:zoom-out'
  'ctrl-0': 'markdown-preview-pandoc:reset-zoom'
