
// GitHub.com styles

// These are the GitHub Flavored Markdown styles also found on github.com.
// They can be anabled in the markdown-preview settings by turning on "Use GitHub.com styles".


@import (reference) "../assets/primer-markdown";

.markdown-preview[data-use-github-style] {

  // Includes GitHub.com styles from `../assets/primer-markdown.less`.
  // Source: https://github.com/primer/markdown/blob/master/components/markdown.scss
  .markdown-body();


  // The styles below override/complement the GitHub.com styles
  // It's needed because some markup or global styles are different
  padding: 30px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  overflow: scroll;

  a {
    color: #337ab7;
  }

  code {
    color: inherit;
  }

  atom-text-editor {
    padding: .8em 1em;
    margin-bottom: 1em;
    font-size: .85em;
    border-radius: 4px;
    overflow: auto;
  }
  
  // Set to page to fixed width centered
  width: 990px; // TODO: Where are the extra 10px coming from?
  padding: 45px;
  margin-left: auto;
  margin-right: auto;

  // Not sure if these are necessary...
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  word-wrap: break-word;

  // Fix styling for code blocks
  code {
    border: none;
    color: black;
    background-color: rgba(0,0,0,0.04);
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  }
  atom-text-editor {
    border: none;
    color: black;
    background-color: #f7f7f7;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }
  atom-text-editor::shadow {
    .invisible-character {
      visibility: hidden;
    }
  }
}
