
// Default Markdown Preview styles

// These are the default Markdown Preview styles.
// They use the syntax-variables to adapt to the color scheme of syntax themes.


@import "syntax-variables";

.markdown-preview:not([data-use-github-style]) {
  padding: 2em;
  font-size: 1.25em;
  color: @syntax-text-color;
  background-color: @syntax-background-color;
  overflow: scroll;

  & > :first-child {
    margin-top: 0;
  }


  // Headings --------------------

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: .5em;
  }

  h1 { font-size: 2.4em; font-weight: 300; }
  h2 { font-size: 2.0em; font-weight: 300; }
  h3 { font-size: 1.8em; font-weight: 400; }
  h4 { font-size: 1.5em; font-weight: 500; }
  h5 { font-size: 1.2em; font-weight: 600; }
  h6 { font-size: 1.0em; font-weight: 600; }

  h1 { border-bottom: 2px solid @syntax-indent-guide-color; }
  h2 { border-bottom: 1px solid @syntax-indent-guide-color; }


  // Link --------------------

  a,
  a code {
    color: #4183c4;
  }


  // Images --------------------

  img {
    max-width: 100%;
  }


  // Blockquotes --------------------

  blockquote {
    border-color: @syntax-indent-guide-color;
    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }


  // HR --------------------

  hr {
    border-top: 2px dashed @syntax-indent-guide-color;
  }


  // Table --------------------

  table {
    width: 100%;
    margin-bottom: 1em;
  }

  th,
  td {
    padding: .3em;
    border: 1px solid @syntax-indent-guide-color;
  }


  // Code --------------------

  code {
    color: @syntax-text-color;
    background-color: contrast(@syntax-background-color, lighten(@syntax-background-color, 8%), darken(@syntax-background-color, 6%));
  }

  atom-text-editor {
    margin-bottom: 1em;
    padding: 1em;
    font-size: .92em;
    border-radius: 3px;
    background-color: contrast(@syntax-background-color, lighten(@syntax-background-color, 4%), darken(@syntax-background-color, 4%));
  }

}
